<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="config.xsd">
  <server>
    <listen>0.0.0.0</listen>
    <port>8000</port>
  </server>
  <databasefile>./measurement.db</databasefile>
  <logfile>./hts.log</logfile>
  <assetspath>./assets/</assetspath>
  <historydays>5</historydays>
  <updatetime>2</updatetime>
  <pagelimit>50</pagelimit>
  <pageslimit>10</pageslimit>
  <thermometers>
    <thermometer>
      <hostname>127.0.0.1</hostname>
      <port>9000</port>
    </thermometer>
    <thermometer>
      <hostname>127.0.0.1</hostname>
      <port>9001</port>
    </thermometer>
  </thermometers>
</config>
